@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(227, 227, 225);
}

header{
    background-color: rgb(130, 130, 132);
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

header > h1{
    color: white;
    text-shadow: 2px 1px 3px rgb(46, 43, 43);
    flex: 0 0 auto;
    align-content: center;
    margin-right: 100px;
}

header > nav{
    flex: 0 0 auto;
    align-self: center;
    margin: 15px 0px;
}

header > nav > a{
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

header > nav > a:hover{
    background-color: rgba(17, 16, 16, 0.699);
    text-decoration: underline;
}

main{
    display: flex;
}

main > article{
    background-color: rgb(255, 255, 255);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.288);
}

main > article > h1{
    font-size: 22px;
}